
#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#matchs {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#matchs td, #matchs th {
  border: 1px solid #ddd;
  padding: 8px;
}

#matchs tr:nth-child(even){background-color: #f2f2f2;}

#matchs tr:hover {background-color: #ddd;}

#matchs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.action-button {
	background-color:#7892c2;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:bold;
	padding:9px 23px;
  text-decoration:none;
  border: none;
  margin: 20px;
}
.action-button:hover {
	background-color:#476e9e;
}


.secondary-button {
	background-color:white;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#476e9e;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:bold;
	padding:9px 23px;
  text-decoration:none;
  border: none;
}
.secondary-button:hover {
	background-color:white
}

.center {
  margin: auto;
  width: 90%;
}
